<h2 class="text-center">Datos procesados</h2>
<div class="alert alert-primary" role="alert">
    Todos los registros duplicados fueron eliminados excepto uno.
    Los registros que tenian un correo electronico invalido fueron eliminados.
    Los registros que tienen algun campo duplicado se marcaron en amarillo
  </div>

<table class="table table-bordered">
  <thead><tr><th scope="col"></th><th scope="col">Nombre</th><th scope="col">Correo Electronico</th scope="col"><th scope="col">Telefono</th></tr></thead>
  <tbody>
    <% @new_hash.each_with_index do |h, i| %>
      <% if !h[:flag].nil? && h[:flag] == 0 %>
        <tr class="table-warning"><th scope="row"><%= i + 1 %></th><td><%= h[:nombre] %></td><td><%= h[:correo_electronico] %></td><td><%= h[:telefono] %></td></tr>
      <% elsif !h[:flag].nil? && h[:flag] == 1 %>
        <tr class="table-danger"><th scope="row"><%= i + 1 %></th><td><%= h[:nombre] %></td><td><%= h[:correo_electronico] %></td><td><%= h[:telefono] %></td></tr>
      <% else %>
        <tr><th scope="row"><%= i + 1 %></th><td><%= h[:nombre] %></td><td><%= h[:correo_electronico] %></td><td><%= h[:telefono] %></td></tr>
      <% end %>
    <% end %>
  </tbody>
</table>